.normal-text
{
    max-width: 800px;
    margin: auto;
}

.code
{
    max-width: 800px;
    margin: auto;

    background-color: #111111;

    border: 5px solid #333333;
    border-radius: 30px;

    padding: 0px 30px;
}

body
{
    background-color: #212121;

    text-align: left;
    font-size: 20px;

    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    color: #eeeeee;
    text-shadow: 2px 2px 4px #000000;
}

p
{
    color: #cccccc;
    text-shadow: 1px 1px 2px #000000;
}

ul
{
    color: #cccccc;
    text-shadow: 1px 1px 2px #000000;
}